{% extends "squelette.html" %}
{% load static %}
{% block title %}Ressources{% endblock %}
{% block content %}
<h1>Recherche de ressources</h1>

<article class='recherche'>

<form action={% url "recherche_tous" %} method="post">
    {% csrf_token %}
<h3 style="display:inline">Toutes les ressources : </h3><input style="display:inline" type="submit" name="RechercheTous" value="Afficher" />
</form>
</article>

<article class='recherche'>
<form action={% url "recherche_categorie" %} method="post">
    {% csrf_token %}
    <h3 style="display:inline">Par thématique : </h3>
    {{ form.as_table }}
    <input style="display:inline" type="submit" name="RechercheParCategorie" value="Rechercher" />
</form>
</article>

<article class='recherche'>
<form action={% url "recherche_oral" %} method="post">
    {% csrf_token %}
    <h3 style="display:inline">Par oral : </h3>
    {{ form2.as_table }}
    <input style="display:inline" type="submit" name="RechercheParOral" value="Rechercher" />
</form>
</article>

<!--umoinsunresultat = {{aumoinsunresultat}}<br />
show_results = {{show_results}}<br />
-->

{% if show_results %}
    <hr>
<!--    oral = {{oral}}<br />
    filtres_definis = {{filtres_definis}}<br />
    fitlres_mots-cles = {{filtres.mot_cle}}<br />
--> 
    <h1>Résultats</h1>
    
    <article class='center'>
    
    {% if not aumoinsunresultat %}
    <h4>Aucun résultat !</h4>
    {% else %}
    
    
    <table id="table_resultats_recherche">
      <tr>
       <th>Ressource</th><th>Discipline</th><th>Catégorie</th><th>Sous-catégorie</th><th>Oraux</th>
      </tr>
    
    {% for ressource in liste_liens %}
        <tr>
         <td><a href="{{ ressource.contenu }}">{{ressource.description}}</a></td>
         <td>{{ressource.discipline}}</td>
         <td>{{ressource.categorie}}</td>
         <td>{{ressource.sous_cat}}</td>
         <td>{% for oral in ressource.oral.all %} {{oral.agreg}} - {{oral.type_oral}} - {{oral.numero}} : {{oral.nom}} <br /> {% endfor %}</td>
    {% endfor %}
    
    {% for ressource in liste_images %}
        <tr>
         <td><a href="{{ ressource.contenu.url }}"><img src="{{ ressource.contenu.url }}" height='200px' /></a></td>
         <td>{{ressource.discipline}}</td>
         <td>{{ressource.categorie}}</td>
         <td>{{ressource.sous_cat}}</td>
         <td>{% for oral in ressource.oral.all %} {{oral.agreg}} - {{oral.type_oral}} - {{oral.numero}} : {{oral.nom}} <br /> {% endfor %}</td>
    {% endfor %}

    {% for ressource in liste_fichiers %}
        <tr>
         <td><a href="{{ ressource.contenu.url }}">{{ ressource.description }}</a></td>
         <td>{{ressource.discipline}}</td>
         <td>{{ressource.categorie}}</td>
         <td>{{ressource.sous_cat}}</td>
         <td>{% for oral in ressource.oral.all %} {{oral.agreg}} - {{oral.type_oral}} - {{oral.numero}} : {{oral.nom}} <br /> {% endfor %}</td>
    {% endfor %}

    {% for ressource in liste_scripts %}
        <tr>
         <td><a href="{{ ressource.contenu.url }}">{{ ressource.description }}</a></td>
         <td>{{ressource.discipline}}</td>
         <td>{{ressource.categorie}}</td>
         <td>{{ressource.sous_cat}}</td>
         <td>{% for oral in ressource.oral.all %} {{oral.agreg}} - {{oral.type_oral}} - {{oral.numero}} : {{oral.nom}} <br /> {% endfor %}</td>
    {% endfor %}

    </table>
    </article>
    {% endif %}


{% endif %}


{% endblock %}
