{% extends "squelette.html" %}
{% block title %}Candidater{% endblock %}
{% block content %}

<h2>Concours classique et concours docteurs</h2>

Depuis la session 2017, il existe un second concours de l'agrégation réservé aux titulaires d'un doctorat en physique. Le centre de Montrouge prépare également à ce concours.

<h2>Conditions d'inscriptions au concours de l'agrégation</h2>
Deux conditions sont nécessaires pour s'inscrire au concours de l'agrégation
<ul>
  <li>avoir la nationalité française, d'un pays de l'Union européenne, d'un pays de l'Espace économique européen, de la principauté d'Andorre, de Monaco ou de la Confédération suisse le jour des épreuves écrites;</li>
  <li>être titulaire d'un M2 le premier jour des épreuves écrites.</li>
</ul>

<h2>Candidatures à la préparation du centre de Montrouge</h2>

<p>Pour être candidat à la préparation de Montrouge, il faut bien sûr remplir les critères d'éligibilité au concours de l'agrégation. Cependant, notre centre de préparation délivre un M2 Enseignement, il n'est donc pas nécessaire d'être titulaire d'un M2 lors de l'inscription à la préparation.</p>

<p>Nous acceptons des étudiants de formations en physique très diverses, à condition de l'excellence de leur dossier et dans la limite des places disponibles. Voici une liste des cas de dossiers les plus fréquents étudiés lors de la commission de sélection courant juin :
<ul>
<li> élève ou étudiant d'une ENS (admis de droit au centre de préparation) ;</li>
<li> étudiant provenant d'une formation partenaire : le <a href={{ lien_SU_master }}>master 1 spécialisé</a> de Sorbonne Université, ou le  <a href={{ lien_P11_magistere }}>magistère d'Orsay</a> de l'université Paris-Sud ;</li>
<li> étudiant possédant un M2 recherche, un doctorat, un (des) post-doctorat(s) ;</li>
<li> étudiant ingénieur avec une formation de physique appuyée ;</li>
<li> enseignant capétien ayant déjà été admissible à l'agrégation externe ;</li>
</ul>

<h1> Formulaire d'inscription</h1>

<div id="infos_div">
<p><!--<strong class='infos'>Inscriptions 2018 :</strong>--> Les inscriptions au centre de préparation de Montrouge pour l'année 2018-2019 pour le concours classique et le concours docteurs <strong>sont closes</strong>. Les candidatures pour l'année suivante ouvriront courant mars 2019.<!--Rendez-vous sur <a href="http://agregation.phys.ens.fr/Inscription/inscription-bare.php">notre formulaire.</a>--></p>

</div>

{% endblock %}