{% extends "squelette.html" %}
{% block title %}Candidater au centre de Montrouge{% endblock %}
{% block content %}

<p>Cette page est dédiée au concours de l'agrégation pour l'option physique. Plus d'information sur la préparation à l'option chimie du centre <a href="https://www.chimie.ens.fr/formation/agregation/">sur cette page</a>.

<h2>Voies standard et spéciale docteurs</h2>

Depuis la session 2017, il existe un second concours de l'agrégation réservé aux titulaires d'un doctorat en physique. Le centre de Montrouge prépare également à ce concours.

<h2>Conditions d'inscriptions au concours de l'agrégation</h2>
Deux conditions sont nécessaires pour s'inscrire au concours de l'agrégation :
<ol>
  <li>avoir la nationalité française, d'un pays de l'Union européenne, d'un pays de l'Espace économique européen, de la principauté d'Andorre, de Monaco ou de la Confédération suisse le jour des épreuves écrites ;</li>
  <li>être titulaire d'un M2 le premier jour de l'admissibilité au concours.</li>
</ol>

<p>Pour les candidats ne remplissant pas la première condition, il est également possible de s'inscrire "à titre étranger" au concours. Cependant, l'obtention du concours ne débouchant pas sur un poste de fonctionnaire, celle-ci est à caractère honorifique en France.</p>

<h2>Candidatures à la préparation du centre de Montrouge</h2>

<p>Il est nécessaire de valider la condition (1) pour candidater au centre de Montrouge : le centre ne prépare pas les candidat·e·s souhaitant passer le concours à titre étranger.</p>

<p>La formation de préparation à l'agrégation délivrant un M2 Enseignement, tous les candidat·e·s disposant d'un niveau M1 de physique peuvent candidater.</p>

<p>Nous acceptons des étudiant·e·s de formations en physique très diverses, à condition de l'excellence de leur dossier et dans la limite des places disponibles. Voici une liste des cas de dossiers les plus fréquents étudiés lors de la commission de sélection :
<ul>
<li> élève ou étudiant·e d'une ENS (admis·e de droit au centre de préparation) ;</li>
<li> étudiant·e provenant d'une formation partenaire : le <a href={{ lien_SU_master }}>profil agrégation du master de physique</a> de Sorbonne Université, ou le  <a href={{ lien_P11_magistere }}>magistère d'Orsay</a> de l'université Paris-Saclay ;</li>
<li> étudiant·e possédant un M1 de physique fondamentale, un M2 recherche, un doctorat, un (des) post-doctorat(s) ;</li>
<li> étudiant·e ingénieur·e avec une formation de physique générale ;</li>
<li> enseignant·e certifié·e ayant été récemment admissible à l'agrégation externe ;</li>
</ul>

<h1> Formulaire d'inscription</h1>

<div id="infos_div">
<p><strong class='infos'>Inscriptions :</strong> Rendez-vous sur la <a href="http://agreg.phys.ens.fr">page d'accueil</a> du site.
</div>

{% endblock %}
