{% extends "squelette.html" %}
{% block title %}Candidater{% endblock %}
{% block content %}

<h2>Voies standard et spéciale docteurs</h2>

Depuis la session 2017, il existe un second concours de l'agrégation réservé aux titulaires d'un doctorat en physique. Le centre de Montrouge prépare également à ce concours.

<h2>Conditions d'inscriptions au concours de l'agrégation</h2>
Deux conditions sont nécessaires pour s'inscrire au concours de l'agrégation
<ul>
  <li>avoir la nationalité française, d'un pays de l'Union européenne, d'un pays de l'Espace économique européen, de la principauté d'Andorre, de Monaco ou de la Confédération suisse le jour des épreuves écrites;</li>
  <li>être titulaire d'un M2 le premier jour des épreuves écrites.</li>
</ul>

<p>Pour les candidatas ne remplissant pas ces conditions, il est également possible de s'inscrire "à titre étranger" au concours. Cependant, l'obtention du concours ne débouchant pas sur un poste de fonctionnaire, celle-ci est à caractère "honorifique" en France.</p>

<h2>Candidatures à la préparation du centre de Montrouge</h2>

<p>Pour être candidat à la préparation de Montrouge, il faut bien sûr remplir les critères d'éligibilité au concours de l'agrégation. Cependant, notre centre de préparation délivre un M2 Enseignement, il n'est donc pas nécessaire d'être titulaire d'un M2 lors de l'inscription à la préparation.</p>

<p>Le centre de Montrouge ne prépare pas les candidats souhaitant passer le concours à titre étranger.</p>

<p>Nous acceptons des étudiants de formations en physique très diverses, à condition de l'excellence de leur dossier et dans la limite des places disponibles. Voici une liste des cas de dossiers les plus fréquents étudiés lors de la commission de sélection courant juin :
<ul>
<li> élève ou étudiant d'une ENS (admis de droit au centre de préparation) ;</li>
<li> étudiant provenant d'une formation partenaire : le <a href={{ lien_SU_master }}>master 1 spécialisé</a> de Sorbonne Université, ou le  <a href={{ lien_P11_magistere }}>magistère d'Orsay</a> de l'université Paris-Sud ;</li>
<li> étudiant possédant un M2 recherche, un doctorat, un (des) post-doctorat(s) ;</li>
<li> étudiant ingénieur avec une formation de physique appuyée ;</li>
<li> enseignant capétien ayant déjà été admissible à l'agrégation externe ;</li>
</ul>

<h1> Formulaire d'inscription</h1>

<div id="infos_div">
<p><strong class='infos'>Inscriptions 2019 :</strong> La première vague d'inscriptions au centre de préparation de Montrouge pour l'année 2019-2020 (agrégation standard et agrégation spéciale docteurs) est maintenant close. Si vous souhaitiez candidater mais avez manqué la date limite, il est toujours possible de remplir <a href="https://webpages.phys.ens.fr/inscriptions-agregation/fr/#inscription">le formulaire</a>, en justifiant par email la raison de votre demande hors delai.</p>
<!--<p><strong class='infos'>Important :</strong> N'oubliez pas de vous inscrire au concours de l'agrégation (voie standard ou voie docteurs), entre le <strong>12 septembre 2017</strong> à 12h et le <strong>12 octobre 2017</strong> à 17h. On conseille fortement aux étudiants possédant un doctorat de s'inscrire aux deux voies, quitte à retarder le choix du concours qu'ils souhaitent passer.</p>-->
</div>

{% endblock %}
