{% extends "squelette.html" %}
{% load static %}
{% block title %}Collection de matériel{% endblock %}
{% block content %}

<h1>Recherche d'un instrument</h1>
<article>
<p>Rechercher un appareil dans la collection de Montrouge en remplissant au moins un des champs ci-dessous.</p>

<form action={% url "collection" %} method="post">
    {% csrf_token %}
    <h3 style="display:inline">Rechercher : </h3>
    {{ form.as_table }}
    <input style="display:inline" type="submit" value="Rechercher" />
</form>

<!--
  <form method="post" action="">
    {% csrf_token %}
    <input type="hidden" name="action" value="recherche" />
    
    <span class='form_span'><label for="nom">Instrument &mdash;</label> <input type="text" name="nom" id="nom" size="15" maxlength="25" placeholder="Générateur"/></span>
    <span class='form_span'><label for="ENSP">Numéro ENSP &mdash;</label> <input type="text" name="ENSP" id="ENSP" size="10" maxlength="5" placeholder="3004"/></span>
    <span class='form_span'><label for="notice">Notice &mdash;</label> <input type="text" name="notice" id="notice" size="10" maxlength="4" placeholder="29"/></span>

    <span class='form_span'><input type="submit" class="submit" value="Rechercher" class="search" name="submit" style="text-align:right"/></span>

  </form>
  -->
</article>
{{form.is_valid}}<br />
{{show_results}}<br />

{% if show_results %}

{% if not aumoinsunresultat %}
<h2 style='text-align:center;'>Aucun résultat !</h2>

{% elif un_seul_instrument %}
<!-- Le seul instrument s'appelle instr -->
instr = {{instr}}<br />
instr_ENSP = {{instr_ENSP}}<br />
lien = {{instr.image.url}}<br />
lienNotice = {{instr.notice.fichier}}

<h2 style='text-align:center;'>{{ instr.nom }}</h2>
  <article id='instrument_article'>

  <table id='descr_instrument'>
    <tr><th>ENSP</th><td>{{ instr.ENSP }}</td></tr>
    <tr><th>Notice</th><td><a href="{{ instr.notice.fichier.url }}" target='_blank'>{{instr.notice.numero}}</a></td></tr>
    <tr><th>Rangement</th><td>{{instr.rangee}} &middot; {{instr.colonne}} &middot; {{instr.etagere}}</td></tr><?php }?>
    <tr><th>Statut</th><td>{{instr.statut}}</td></tr>
    <tr><th>Référence</th><td>{{instr.reference}}</td></tr>
    <tr><th>Catégorie</th><td>{{instr.categorie}}</td></tr>
    <!--<tr><th>Thème</th><td>{{instr.theme}}</td></tr>-->
    
  </table>
  
  {% if instr.image %}
      <aside id='img_aside'>
      <a href="{{ instr.image.url }}"><img src="{{ instr.image.url }}" style='max-height:300px;' /></a>
      </aside>
  {% endif %}
  
  <p id='descr_p'><strong>Description :</strong><br /><br />{{ instr.description }}</p>

  </article>


{% else %}
    <hr>
    <h1>Résultats</h1>
    <article class='center' id='article_resultats_recherche'>
    
    <table id='table_resultats_recherche'>
    <tr><th>Instrument</th><th>Image</th><th>Référence</th><th>ENSP</th><th>Notice</th><th>Rangement</th><th>Statut</th></tr>
    
    {% for instr in liste_instruments %}
    {{instr.image}}<br />
      <tr>
          <td><a href={% url "instrument" instr.ENSP %} target='_blank'>{{instr.nom}}</a></td>
          <td class='center'>{% if instr.image %}<a href="{{ instr.image }}"><img src="{{ instr.image }}" height='80px' /></a>{% else %} / {% endif %}</td>
          <td>{{instr.ref}}</td>
          <td class='center'>{{instr.ENSP}}</td>
          <td class='center'><a href="{{ instr.notice.fichier.url }}" target='_blank'>{{instr.notice.numero}}</a></td>
          <td class='center'>{{instr.rangee}} &middot; {{instr.colonne}} &middot; {{instr.etagere}}</td>
          <td>{{instr.statut}}</td>
      </tr>
    {% endfor %}
    </table>

    </article>
    
{% endif %}
{% endif %}

{% endblock %}