{% extends "squelette.html" %}
{% block title %}Collection de matériel{% endblock %}
{% block content %}

<h1>Recherche d'un instrument</h1>
<article>
<p>Rechercher un appareil dans la collection de Montrouge en remplissant au moins un des champs ci-dessous.</p>

<form action={% url "collection" %} method="post">
    {% csrf_token %}
    <h3 style="display:inline">Rechercher : </h3>
    {{ form.as_table }}
    <input style="display:inline" type="submit" value="Rechercher" />
</form>

<!--
  <form method="post" action="">
    {% csrf_token %}
    <input type="hidden" name="action" value="recherche" />
    
    <span class='form_span'><label for="nom">Instrument &mdash;</label> <input type="text" name="nom" id="nom" size="15" maxlength="25" placeholder="Générateur"/></span>
    <span class='form_span'><label for="ENSP">Numéro ENSP &mdash;</label> <input type="text" name="ENSP" id="ENSP" size="10" maxlength="5" placeholder="3004"/></span>
    <span class='form_span'><label for="notice">Notice &mdash;</label> <input type="text" name="notice" id="notice" size="10" maxlength="4" placeholder="29"/></span>

    <span class='form_span'><input type="submit" class="submit" value="Rechercher" class="search" name="submit" style="text-align:right"/></span>

  </form>
  -->
</article>
{{form.is_valid}}<br />
{{show_results}}<br />

{% if show_results %}

{% if not aumoinsunresultat %}
<h4>Aucun résultat !</h4>
{% else %}

    form.cleaned_data={{form.cleaned_data}}<br />
    ENSP={{ENSP}}
    lisinstruments={{liste_instruments}}<br />
    <hr>
    <h1>Résultats</h1>
    
    
    <table id='table_resultats_recherche'>
    <tr><th>Instrument</th><th>Référence</th><th>ENSP</th><th>Notice</th><th>Rangement</th><th>Statut</th></tr>
    
    {% for instr in liste_instruments %}
      <tr>
          <td><a href={% url } target='_blank'>{{instr.nom}}</a></td>
          <td>{{instr.ref}}</td>
          <td class='center'>{{instr.ENSP}}</td>
          <td class='center'><a href={% url } target='_blank'>{{instr.notice.numero}}</a></td>
          <td class='center'>{{instr.rangee}} &middot; {{instr.colonne}} &middot; {{instr.etagere}}</td>
          <td>{{instr.statut}}</td>
      </tr>
    {% endfor %}
    </table>


    
    
    
{% endif %}
{% endif %}

{% endblock %}