{% extends "squelette.html" %}
{% block title %}Candidater{% endblock %}
{% block content %}

<section>

<h1>Les épreuves du concours</h1>
<article>

<!--<p><strong class='infos'>Agrégation 2018 :</strong> Les épreuves d'admissibilité du concours 2018 auront lieu les 12, 13 et 14 mars 2018.</p>-->

<p>Avant de détailler la formation donnée à la prépa de Montrouge, voici une courte description des épreuves de l'agrégation.</p>

<h2>L'agrégation externe de physique</h2>

<p>Le concours de l'agrégation se déroule en deux temps : les trois épreuves d'admissibilité (écrites) mi-mars, et les trois épreuves d'admission (orales) courant juin/juillet pour les candidats admissibles. <a href={{programme_officiel_ext}}>Le programme officiel</a> est disponible sur le site du ministère. On pourra consulter aussi le <a href={{site_agreg_ext}}>site officiel du jury du concours</a>.</p>

<h3>Épreuves d'admissibilité</h3>
<ul>
<li><strong>Composition de physique</strong> (5h)</li>
<li><strong>Composition de chimie</strong> (5h)</li>
<li><strong>Problème de physique</strong> (6h)</li>
</ul>


<h3>Épreuves d'admission</h3>
<ul>
<li><strong>Leçon de physique</strong> (4h de préparation, 40min de présentation, 40min de questions)</li>
<li><strong>Leçon de chimie</strong> (4h de préparation, 40min de présentation, 40min de questions)</li>
<li><strong>Montage de physique</strong> (4h de préparation, 30min de présentation, 40min de questions)</li>
</ul>



<h2>L'agrégation externe spéciale de physique</h2>
<p>Depuis 2017, il existe une nouvelle voie pour obtenir le concours de l'agrégation externe : des places sont réservées pour des candidats possédant un doctorat. Le programme disciplinaire est le même que celui de la voie standard, mais les épreuves sont pour la plupart différentes, avec des listes de leçons plus courtes.</p>

<h3>Épreuve d'admissibilité</h3>

Une seule épreuve d'admissibilité : un écrit de 6h associant physique et chimie.

<h3>Épreuves d'admission</h3>
<ul>
<li><strong>Leçon de physique</strong> (4h de préparation, 40min de présentation, 40min d'entretien avec le jury)</li>
<li><strong>Leçon de chimie</strong> (4h de préparation, 40min de présentation, 40min d'entretien avec le jury);</li>
<li><strong>Présentation didactique d'un dossier de recherche</strong> (1h de préparation, 30min de présentation, 30min d'entretien)</li>
</ul>

<p>Le <a href={{site_agreg_spe}}>site du concours spécial</a> présente plus de détails sur ces épreuves.</p>

</article>


<h1>Formation pédagogique du centre de Montrouge</h1>
<article>

<p>Au centre de Montrouge, nous préparons aux deux concours de l'agrégation (voies standard et spéciale), avec d'<a href={{lien_resultats_centre}}>excellents résultats</a> dans les deux cas.</p>

<p>Le centre de préparation de Montrouge a la particularité d'accueillir des étudiants avec des parcours très divers. Aux quelques normaliens s'ajoutent des magistériens de nos universités partenaires (Sorbonne Université et Paris-Sud), des ingénieurs, des docteurs, des post-doctorants, des titulaires d'un M2 enseignement, etc.</p>

<p>Nous faisons attention à ce que chacun profite au maximum de la préparation, et nous proposons pour cela des enseignements à des niveaux variés.</p> 

<h4>Cours et travaux dirigés</h4>
<p>Dans les matières classiques comme la mécanique, l'électromagnétisme, l'optique ou l'électricité, des travaux dirigés (TDs) reprennent les notions de base pour que chaque étudiant se sentent à l'aise avec les calculs incontournables du concours et en particulier pour l'épreuve de composition. Dans un second temps, des cours d'approfondissement permettent de s'ouvrir à des notions mal-connues, en général mises de côté des programmes universitaires ou de classes prépa. Ces cours, d'un niveau licence 3/ master 1, ont pour objectif de préparer au problème de physique, et éveiller les étudiants à des notions abordables dans les leçons de physique.</p>

<p>Dans les matières plus modernes (physique quantique et relativité), les cours précèdent les TDs, puisque ceux-ci repartent des fondamentaux. Les TDs servent toujours à étudier les applications incontournables des notions, cette fois-ci revues dans les cours.</p>

<p>Pour préparer au mieux les écrits, deux séries d'épreuves dans les mêmes conditions que celles du concours sont prévues. De plus, des devoirs réguliers évaluent l'apprentissage et la préparation des étudiants pour les écrits. Les étudiants pouvant ainsi s'entraîner au fur et à mesure que l'année progresse, sur des thèmes qui sont donnés à l'avance. De plus, nous donnons régulièrement en physique et en chimie des devoirs maisons afin que chaque étudiant se teste sur la matière qu'il est entrain d'étudier.</p>

<h4>Préparation aux oraux</h4>

<p>Au centre de Montrouge, travailler les oraux se fait tout au long de l'année. Qui sait expliquer, exposer une notion pendant une présentation de leçon, la comprend profondément et s'est donc préparé aux écrits en même temps qu'aux oraux. Pour cette raison, toutes les leçons de physique sont préparées et corrigées une fois avant les écrits. Pendant la préparation aux oraux, celles-ci sont reprises, partiellement ou complètement.</p> 


<h4>Formation expérimentale</h4>

<p>Réussir le concours de l'agrégation et enseigner plus tard la physique-chimie demande de bonnes capacités expérimentales. Les étudiants ayant des origines et des formations expérimentales antérieures très variées, l'année commence avec une série de TPs de remise à niveau dans les domaines expérimentaux importants: optique et électronique. Le niveau des TPs augmente graduellement pour atteindre à la fin de l'année de préparation des notions subtiles comme la biréfringence, la spectroscopie ou l'utilisation des transistors.</p>

<p>Tous les vendredis, les étudiants assistent ou réalisent un montage de physique, l'une des épreuves orales du concours, et ce devant deux enseignants qui simuleront le rôle du jury en posant des questions, puis en décortiquant les points forts et les faiblesses de l'exposé avec les étudiants.</p>

<p>Après les écrits, l'étage expérimental est ouvert tous les jours pendant six semaines, les étudiant ont le temps de (re)tester toutes les manipulations qu'ils souhaitent pour préparer dans les meilleures conditions l'épreuve de montage.</p>

<h4>La chimie à l'agrégation de physique</h4>

<p>La chimie constitue la mineure de l'agrégation de physique, mais elle n'est en aucun cas sous-estimée au centre de Montrouge. Toutes les notions de classes préparatoires au programme du concours sont revues en cours/TDs, avec des DMs hebdomadaires permettant d'assimiler au mieux les notions, nouvelles ou non pour les étudiants. Ces cours/TDs sont donnés par les enseignants de l'agrégation de chimie, un étage au-dessus de l'étage physicien.</p>

</article>

<!--
<h1>Annales de l'agrégation de physique &mdash; voie spéciale docteurs</h1>
<article class='center' id="epreuves_article_spe">

<table id='table_epreuves_spe'>
<tr><th>Année</th><th>Partie dominante physique</th><th>Partie dominante chimie</th></tr>
<?php 

// $annee = 2017;
// 
// while ($annee> 2016)
// {
//   echo "<tr><th>".$annee."</th>";
//   echo "<td>";
//   if (file_exists($dossier_epreuves.'spe_phys_'.$annee.".pdf")) {echo "<a href='".$dossier_epreuves."spe_phys_".$annee.".pdf'>".$epreuves_spe_phys[$annee]."</a>";}
//   elseif (isset($epreuves_spe_phys[$annee])) {echo $epreuves_spe_phys[$annee];}
//   echo "</td><td>";
//   if (file_exists($dossier_epreuves.'spe_chim_'.$annee.".pdf")) {echo "<a href='".$dossier_epreuves."spe_chim_".$annee.".pdf'>".$epreuves_spe_chim[$annee]."</a>";}
//   echo "</td>";  
//   $annee=$annee-1;
// }

?>
</table>
</article>-->

<!--<h1>Annales de l'agrégation de physique &mdash; voie classique</h1>
<article class='center' id="epreuves_article">

<table id='table_epreuves'>
<tr><th>Année</th><th>Épreuve A: composition de physique</th><th>Épreuve B : composition de chimie</th><th>Épreuve C : problème de physique</th></tr>

<?php 
// $annee = 2017;
// 
// while ($annee> 1975)
// {
//   echo "<tr><th>".$annee."</th>";
//   echo "<td>";
//   if (file_exists($dossier_epreuves.'A_'.$annee.".pdf")) {echo "<a href='".$dossier_epreuves."A_".$annee.".pdf'>".$epreuves_A[$annee]."</a>";}
//   elseif (isset($epreuves_A[$annee])) {echo $epreuves_A[$annee];}
//   echo "</td><td>";
//   if (file_exists($dossier_epreuves.'B_'.$annee.".pdf")) {echo "<a href='".$dossier_epreuves."B_".$annee.".pdf'>Sujet</a>";}
//   echo "</td><td>";
//   if (file_exists($dossier_epreuves.'C_'.$annee.".pdf")) {echo "<a href='".$dossier_epreuves."C_".$annee.".pdf'>".$epreuves_C[$annee]."</a>";}
//   elseif (isset($epreuves_C[$annee])) {echo $epreuves_C[$annee];}
//   echo "</td>";  
//   $annee=$annee-1;
// }

?>
</table>
</article>-->

</section>

{% endblock %}