{% extends "squelette.html" %}
{% load static %}

{% block title %}Informations centre de Montrouge{% endblock %}

{% block content %}
<h1>Contacts</h1>

<article id='organigramme_article'>
<table id='table_organigramme'>
  <tr>
    <th>Secrétariat</th>
    <td colspan='2'>Jusika Le Jeune</td>
    <td colspan='2'>jusika.le.jeune AT ens.fr</td>
    <td colspan='2'>01 58 07 66 39</td>
  </tr>  
  <tr>
    <th>Bibliothèque</th>
    <td colspan='2'>Yvon Poncel</td>
    <td colspan='2'>yvon.poncel AT ens.fr</td>
    <td colspan='2'>01 58 07 66 37</td>
  </tr> 
  <tr>
    <th></th>
    <th colspan='3' class='phys'>Physique</th>
    <th colspan='3' class='chim'>Chimie</th>
  </tr>
  
  <tr>
    <th rowspan='3'>Direction</th>
    <td class='phys'>Agnès Maître</td>
    <td rowspan='3' class='phys'>agregation AT phys.ens.fr</td>
    <td rowspan='3' class='phys'>Privilégiez les emails<!--01 58 07 66 39--></td>
    <td class='chim'>Clément Guibert</td>
    <td class='chim'>clement.guibert AT sorbonne-universite.fr</td>
    <td rowspan='3' class='chim'>01 58 07 66 11</td>
  </tr>
  <tr>
    <td class='phys'>Arnaud Raoux</td>
    <td class='chim'>Jean-Bernard Baudin</td>
    <td class='chim'>jean-bernard.baudin AT ens.fr</td>
  </tr>
  <tr>
    <td class='phys'>Erwan Allys</td>
    <td class='chim'>Manon Leconte</td>
    <td class='chim'>manon.leconte AT ens.fr</td>
  </tr>
  <tr>
    <th>Respo. mineure</th>
    <td class='chim'>Lise Boutenegre</td>
    <td class='chim'>lise.boutenegre AT chimieparistech.psl.eu</td>
    <td class='chim'></td>
    <td class='phys'>François Levrier</td>
    <td class='phys'>francois.levrier AT ens.fr</td>
    <td class='phys'></td>
  </tr>
  <tr>
    <th rowspan='2'>Correspondants</th>
    <td class='phys'>Arnaud Raoux (SU)</td>
    <td class='phys'>arnaud.raoux AT sorbonne-universite.fr</td>
    <td colspan='1' rowspan='2' class='phys'></td>
    <td colspan='3' rowspan='2'></td>
  </tr>
  <tr>
    <td class='phys'>Robin Zegers (Paris-Saclay)</td>
    <td class='phys'>robin.zegers AT universite-paris-saclay.fr</td>
  </tr>
  <tr>
    <th rowspan='2'>Pôle technique</th>
    <td class='phys'>Éric Guineveu</td>
    <td class='phys'>eric.guineveu AT ens.fr</td>
    <td class='phys'>01 58 07 66 35</td>
    <td rowspan='2' class='chim'>Tarik Drah</td>
    <td rowspan='2' class='chim'>tarik.drah AT ens.fr</td>
    <td rowspan='2' class='chim'>01 58 07 66 12</td>
  </tr>
  <tr>
    <td class='phys'>Nasser Hamadi</td>
    <td class='phys'>nasser.hamadi AT ens.fr</td>
    <td class='phys'><!--01 58 07 66 32--></td>
  </tr>
 
</table>
</article>

<h1>Accès au centre</h1>


<article style='vertical-align:center;'>

<div id='acces_liste_div'>
<h2 style='text-align:center;'>Accès en transports</h2>
<p><strong>Métro</strong> : ligne 4, arrêt Mairie de Montrouge</p>
<p><strong>Tram</strong> : ligne T3, arrêt Jean Moulin</p>
<p><strong>Bus</strong> : ligne 194, arrêt Depinoy ou ligne 38 arrêt Porte d'Orléans</p>
<p><strong>RER</strong> : ligne B, arrêt Cité universitaire. Prendre le tram pour deux stations.</p>
</div>
<div id='acces_div'> {% load static %}
<img src={% static "plan.png" %} alt='plan_accès' style="border:solid 1px black; width:80%; text-align:center;">
</div>

</article>

<h1 id='FAQ'>FAQ: questions diverses</h1>
<div class='center'>
<article style="display:inline-block; width:60%; text-align:justify;">
<h3>Combien de candidat·e·s acceptez-vous au sein de la préparation ?</h3>

<p>Nous privilégions les petits groupes afin d'optimiser l'encadrement et de permettre une cohésion de classe qui aide à surmonter le stress du concours. Nous proposons, en général, 18 à 24 places. Une petite promotion assure également un grand nombre de passages en leçons et montages, et donc une très bonne préparation aux épreuves orales.</p>


<h3>Quelle formation faire pour anticiper une année de préparation à l'agrégation ?</h3>

<p> La formation des ENS est particulièrement adaptée pour aborder sereinement l'année de préparation à l'agrégation. Il existe de plus des cursus adaptés dans les deux universités partenaires qui permettent d'aborder cette année en douceur : à Sorbonne Université, il est possible de suivre un <a href={{lien_SU_master}}>M1 dédié</a>, et à l'université Paris-Saclay le <a href={{lien_P11_magistere}}>magistère d'Orsay</a> (L3-M1) offre un excellent tremplin.</p>
 
<h3>Je viens de réussir le CAPES. Puis-je préparer l'agrégation au sein du centre de Montrouge dans la foulée ?</h3>
<p>Oui, nous recrutons régulièrement ce type de profil. Il est possible d'obtenir un report de stage à l'issue du CAPES pour préparer l'agrégation.</p>

<h3>Je suis enseignant·e depuis quelques années, et j'aimerais préparer l'agrégation. Puis-je candidater au centre de Montrouge ?</h3>
<p>Tout à fait, nous recrutons chaque année des enseignants confirmés. Cependant, notre nombre de places est limité, nous privilégions les candidats qui ont déjà été admissibles à l'agrégation par le passé.</p>
 
<h3>Puis-je préparer l'agrégation à Montrouge à l'issue d'un doctorat, post-doctorat, école d'ingénieur ?</h3>
<p>Oui ! La particularité de notre centre est d'examiner tout type de profil. Plusieurs docteur·e·s, post-doctorant·e·s, ingénieur·e·s, ou certifié·e·s viennent compléter la promotion chaque année, et avec un excellent taux de réussite. Aussi, ne vous censurez pas dans l'envoi des dossiers. Il faut évidemment présenter un dossier avec une solide formation en physique générale.</p>

<p>Pour les candidats en reprise d'études, il est possible de s'inscrire en formation continue et ainsi recevoir des allocations chômage à ce titre.</p>

<h3>Combien coûte l'année de préparation à l'agrégation ?</h3>
<p>Tous nos étudiants doivent être inscrits en master à l'université, il faut donc s'acquitter des droits nationaux de 250€ (mise à jour rentrée 2024). Les personnes inscrites en formation continue devront s'acquitter des droits de formation continue de nos universités partenaires. Le montant dépend du payeur: si c'est le futur agrégatif qui règle les frais, ils s'élèvent à 280€. Si c'est un organisme de formation qui règlent les frais ils sont plus élevés.</p>
<h3>Peut-on préparer le CAPES en même temps que l'agrégation ?</h3>
<p>Il est possible de se présenter aux épreuves du CAPES puisque les dates des concours ne sont pas simultanées et l'emploi du temps de notre centre est adapté en ce sens. Néanmoins, nous ne préparons pas spécifiquement aux épreuves du CAPES qui sont de nature assez différentes de celles de l'agrégation.</p>

<h3>Puis-je redoubler la préparation à Montrouge si je n'ai pas obtenu le concours ?</h3>
<p>Oui. Si l'investissement au cours de l'année est celui attendu et que malheureusement, le succès n'est pas au rendez-vous, nous gardons nos agrégatifs une année supplémentaire avec un programme adapté selon le redoublement.</p>
 
<h3>Quelle est la quantité de travail à fournir durant la préparation ? Par rapport à une CPGE ?</h3>
<p>La formation est intense, notamment avant les écrits (cours, TDs, DS, TPs, préparation aux oraux, etc.). À partir d'avril, l'emploi du temps est volontairement allégé afin de vous laisser plus de temps pour le travail personnel.</p>
<p>Comparativement à la CPGE, la formation s'appuie davantage sur un travail de groupe dans un contexte professionnalisant donc plus mature. Le travail se concentre uniquement sur vos deux matières de prédilection : physique (majeure) et chimie (mineure).</p>
 
<h3>Que dois-je réviser/travailler en amont de l'année de préparation ?</h3>
<p>Notre expérience montre que les bases (physique : CPGE-début L3 ; chimie : 1ère année CPGE) doivent être maîtrisées pour que la préparation soit efficace dès le mois de septembre. Les points essentiels de L3-M1 en physique et PCSI/PC* en chimie seront revus au cours de l'année. Pour plus de détails, consultez le <a href="{% static 'Guide2024.pdf' %}">guide de l'agrégatif</a>.</p>
<p>Nous vous encourageons à assister aux oraux publics du concours qui ont lieu fin juin / début juillet (renseignements sur les site du concours <a href={{site_agreg_ext}}>voie classique</a> et <a href={{site_agreg_spe}}>voie spéciale docteurs</a></p>

 
<h3>À quel poste puis-je prétendre avec une agrégation de physique ?</h3>
<p>Les agrégés de physique sont susceptibles d'enseigner en collège, lycée, en CPGE, en BTS, en IUT, en Écoles d'Ingénieur et en Université (PRAG). Globalement, 65% des agrégés de physique-chimie enseignent dans le secondaire (essentiellement en lycée), et 35% dans le supérieur.</p>

<h3>J'ai réussi le concours de l'agrégation. Que se passe-t-il ensuite ?</h3>
<p>Lors de la réussite du concours, vous obtenez le statut de fonctionnaire stagiaire. L'année suivante, vous serez affecté dans un établissement d'une académie selon vos vœux courant juin, ainsi qu'à un Institut National Supérieur du Professorat et de l'Éducation (INSPÉ). Sous la supervision d'un tuteur (enseignant confirmé), vous aurez la moitié d'un service devant élève, l'autre moitié étant dédiée à votre formation didactique et pédagogique. Un inspecteur vous rendra visite à la fin de l'année, et avec l'avis de l'INSPÉ validera votre titularisation. L'année d'après, vous devrez participer au mouvement général, pour une affectation définitive.</p>

<h3>Une fois l'agrégation obtenue, suis-je obligé de prendre tout de suite mon poste ?</h3>
<p>Non pas forcément. Plusieurs cadres de report de stage existent selon le projet envisagé et sous réserve d'acceptation du ministère :
<ul>
<li>report pour études (1 année, renouvelable) ;</li>
<li>report pour projet doctoral (3 années) ;</li>
<li>demande de mise en disponibilité.</li>
</ul>
</p>

<p>Remarque : un monitorat durant ses études doctorales permettent de valider son stage en deux ans. Il ne s'agit pas là d'un report, mais d'une validation en tant que moniteur.</p>

</article>
</div>

<h1>Quelques liens</h1>
<article id="liens_article">

<h3>Sites des agrégations de physique</h3>
<a href={{site_agreg_ext}}> Agrégation de physique standard</a><br>
<a href={{site_agreg_spe}}> Agrégation de physique spéciale docteurs</a><br>


<h3>Établissements contractants</h3>

<a href="http://www.ens.fr">École normale supérieure</a><br>
<a href="https://www.sorbonne-universite.fr/">Sorbonne Université</a><br>
<a href="https://www.universite-paris-saclay.fr/">Université Paris-Saclay</a>


<h3>Informations officielles générales</h3>

<a href="http://www.education.gouv.fr/">Ministère de l'Éducation Nationale</a><br>
<a href="http://www.education.gouv.fr/bo/default.htm">Bulletin Officiel de l'Éducation Nationale</a><br>
<a href="http://www.legifrance.gouv.fr/">Légifrance</a><br>
<a href="http://www.education.gouv.fr/pid25058/le-calendrier-scolaire.html">Calendrier scolaire</a><br>
<a href="http://www.education.gouv.fr/personnel/metiers/professeur_agrege.htm">Statuts des agrégés</a>


<h3>Informations officielles spécifiques aux concours</h3>

<a href="http://www.education.gouv.fr/siac/siac2/default.htm">Système d'information et d'aide aux concours (SIAC)</a><br>
<a href="http://www.education.gouv.fr/pid63/siac2.html">Guide de l'inscription aux concours</a><br>
<a href="http://cache.media.education.gouv.fr/file/agregation_externe/55/4/p2017_agreg_ext_physchim_physique_556554.pdf">Programme du concours de l'agrégation</a><br>


<h3>Association</h3>

<a href="http://www.cndp.fr/">Centre National de Documentation Pédagogique</a><br>
<a href="http://www.sfpnet.fr/">Société Française de Physique</a><br>
<a href="http://www.udppc.asso.fr/">Union des Physiciens</a><br>
<a href="http://prepas.org/">Association des Professeurs des Classes Préparatoires aux Grandes Écoles</a>


<h3>Ressources pédagogiques</h3>

<a href="http://ccsd.cnrs.fr/PhysNet/">PhysNet : The Physics Departments and Documents Network</a><br>
<a href="http://physicsworld.com/">PhysicsWorld</a><br>
<a href="http://www.inrp.fr/lamap/">La main à la pâte</a>

<h3>Autres Centres de préparation à l'agrégation de physique</h3>

<a href="http://www.agregationphysique.fr/">Bordeaux</a><br>
<a href="https://enspsp.gitlab.io/pensps-static/formations/masterfesup/candidatures/">ENS Paris-Saclay</a><br>
<a href="http://physique.ens-lyon.fr/agregation-224709.kjsp?RH=DPTPHY&RF=DPT-PHY-agreg">ENS de Lyon</a><br>
<a href="http://physique-sciences.univ-amu.fr/departement/prepa-agreg-physique-chimie">Marseille</a><br>
<a href="https://www.univ-reims.fr/formation/catalogue-de-formation/preparation-a-l-agregation-de-physique-chimie,23515,38949.html?args=R9qFsCnMmKDtxCa17YTDkHVqaqbfYRXwwTnCVt2witCDUIiVoUdkeMDp%2AXGEGm2SMIhvMbuZ3_kOrRxvJlk6dOorIryuNioRCyFFyPAvhl9tCdwYdtHRrwAvNC1tDg_H&formation_id=242"> Reims</a><br>
<a href="https://etudes.univ-rennes1.fr/agreg-physique">Rennes</a><br>
<a href="http://sciences-techniques.univ-rouen.fr/preparation-a-l-agregation-de-sciences-physiques-375096.kjsp">Rouen</a><br>
<a href="http://www.physique-ingenierie.unistra.fr/spip.php?rubrique104">Strasbourg</a><br>
<a href="http://agreg.physchim.tlse.free.fr/">Toulouse</a><br>

</article>

{% endblock %}
